@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid">
	<div class="row">
		<h2>Application uses</h2>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris facilisis arcu metus, sed congue dui suscipit in. Fusce ut enim non diam lacinia pharetra. Cras nec euismod dui. Duis tincidunt tristique massa, a convallis purus dignissim ut. Cras interdum facilisis ligula. Mauris a mi libero. Sed laoreet pretium auctor. Curabitur id auctor ex, eu gravida arcu. Praesent tempus sagittis dapibus. Morbi ex ligula, congue nec nunc eu, mattis tempor purus. Aenean viverra nisi venenatis nisl tempor, et tempus massa ullamcorper.</p>
		<p>Nulla vitae semper elit. Aenean in libero nec ex ultrices sodales. Vivamus lorem dolor, cursus eget mollis sit amet, dignissim non augue. Donec fermentum erat sed velit imperdiet vulputate. Integer nec auctor erat. Praesent rutrum hendrerit magna a pharetra. Quisque eget luctus ex. Aliquam erat volutpat. In id urna ultricies purus suscipit laoreet. Sed venenatis mollis tincidunt. Sed cursus iaculis commodo. Quisque venenatis mi nisi, in interdum libero facilisis ac. In vulputate neque sit amet fringilla elementum.</p>
		<ul>
		    <li>Sample pages using ASP.NET Core MVC</li>
		    <li><a href="https://go.microsoft.com/fwlink/?LinkId=518004">Bower</a> for managing client-side libraries</li>
		    <li>Theming using <a href="https://go.microsoft.com/fwlink/?LinkID=398939">Bootstrap</a></li>
		</ul>
	</div>
</div>